 <header class="main-header">
  <div class="header-content">
    <div class="header-left">
      <a href="/" class="brand-link">
        <span class="brand-title">🦖 - DINO-PARK</span>
      </a>
    </div>
    <div class="header-right">
      <a href="/reservation" class="button">RESERVATIONS</a>
      <a href="" class="burgon">☰</a>
      <a href="mailto:super.brief.simplon@gmail.com" class="button button--secondary">Contact</a>
    </div>
  </div>
</header>
