<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DINO-PARK Parc d'attractions autour des dinosaures</title>
  <meta name="description" content="DINO-PARK Un parc d'aventures exceptionelles!">
  <link rel="stylesheet" href="/header.css">
  <link rel="stylesheet" href="/footer.css">
  <link rel="stylesheet" href="/home.css"> 
  <link rel="stylesheet" href="/panelControl.css"> 

</head>
<body>
    <%- include("nav.ejs") %> 