<%- include("../partials/head") %> 
<%-include("../partials/header") %>



    <main>
        <section class="hero-section">
            <div class="hero-left">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTyViZ5XFKd0rWVf8wyveRzMDSrLviIGNgkKA&s">
                    
                </div>
                <a href="/adminconnect" class="hidden">hidden</a>
            <div class="hero-right">
                <div class="right-top">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQ9Erstnr8_cU8tZPAxdLVUh0LHiyrJSYzAw&s" alt="Flying dinosaur">
                    
                </div>
                <div class="right-bottom">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQH1PaZQnXoNX8V176ydCJkAzmmrX2d-elxaw&s" alt="Group rates, subscriptions">
                    <div class="overlay-text">
                        <a href="/liste" class="paratruc">tarifs de groupes, abonnements..</a>
                      
                    </div>
                    
                </div>
            </div>
        </section>
    </main>









<%- include("../partials/footer") %>