<%- include("../partials/head") %> 
<%-include("../partials/header") %>

 <h1>ADMIN CONTROL PANNEL</h1>








  <button type="submit" class="btn btn-primary">BACK-HOME</button>
</form>

<%- include("../partials/footer") %>