<%- include("../partials/head") %> <%-include("../partials/header") %>

<h1>RESERVATION</h1>

<form action="/reservation" method="POST" class="formb">
  <div class="form-group">
    <label for="name">Nom du client</label>
    <input type="text" class="form-control" id="name" name="name" required />
  </div>

  <div class="form-group">
    <label for="date">Date</label>
    <input
      type="date"
      class="form-control"
      id="date"
      name="date"
      required
    />
  </div>

  <div class="form-group">
    <label for="forfait">Forfait</label>
    <select class="form-control" id="forfait" name="forfait" required>
      <option value="">Sélectionnez un type</option>
      <option value="PetitDino">Forfait Petit Dino</option>
      <option value="MoyenDino">Forfait Moyen Dino</option>
      <option value="Premium">Forfait PREMIUM</option>
    </select>
  </div>

  <div class="form-group">
    <label for="nombre">Nombres de personnes</label>
    <input
      type="number"
      class="form-control"
      id="nombre"
      name="nombre"
      placeholder="Ex: HTML, CSS, JavaScript"
      required
    />
  </div>


  <button type="submit" class="btn btn-primary">RESERVEZ</button>
</form>

<%- include("../partials/footer") %>
